//图标库
@font-face 
  font-family: 'iconfont'
  src: url('//at.alicdn.com/t/font_637592_h28f57jg4s7cik9.eot')
  src: url('//at.alicdn.com/t/font_637592_h28f57jg4s7cik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_637592_h28f57jg4s7cik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_637592_h28f57jg4s7cik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_637592_h28f57jg4s7cik9.svg#iconfont') format('svg')


[class|=icon]
    font-family: 'iconfont'
    display: inline-block
    font-style: normal
    font-size: 14px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    
.icon-refresh::before 
    content: '\e653'
.icon-add::before 
    content: '\e64e'
.icon-house::before 
    content: '\e6f4'