@import 'util'  // sass变量方法
@import 'reset' // css重置样式
@import 'icon'  // 图标库样式
@import 'func'  // css功能性样式


//原子类
.page-all
	width: 1200px
	margin: 0 auto
.mb30 
	margin-bottom: 30px
input[type="password"],
input[type="text"]
	padding: 0 10px
	border: none
	border-radius: 5px

//页面结构通用样式
body, button, input, keygen, legend, select, textarea
	font-family: 'Microsoft YaHei'
body
	background: #f5f5f5
	font-size: 14px
.fcc-page-all
	margin: 0 auto
	width: 1200px
.see-more>a
	color: #fe8100